:root{
    --lila: rgb(209, 174, 255);
}

@font-face{
	font-family: lato regular;
	src: url(./font/Lato-Regular.ttf);
}

@font-face{
	font-family: lato thin;
	src:url(./font/lato-light-webfont.woff2);
}

*{
    box-sizing: border-box;  
	padding-top: none;
    padding-bottom: none;
    margin:0;
    padding:0;
    font-family: lato regular;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/**** HEADER ****/
nav{
    margin-right:-20px;
}
.menu_header{
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2em;
    border-bottom: 1px solid grey;
    border-width: 100%;
    
}

.search{
    margin-right: 3em;
}

.icone{
    width: 20%;


}

    div.click-to-top {
    display:inline-block;
    position:relative;
    }
    
    div.click-to-top:hover{
    z-index:9;
    }
    
    div.click-to-top img{
    -webkit-transition: all 0.8s;
    moz-transition: all 0.8s;
    transition: all 0.8s;
    width:47%;
   
    }
    
    div.click-to-top img:hover{
    z-index:9;
    }
    
    div.click-to-top span {display: none; position: absolute; background: grey; color: #fff; }
    div.click-to-top:hover span {display: block; }

/* .tootiptext{
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
.tootiptext:hover{
    visibility: visible;
    color: var(--lila);
} */

/**** FOOTER ****/

 footer {
    position:fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    color: gray;
    
}

/*title*/
#copyright{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

/*menu */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerMenu{
    margin: 0em 1em 2em 1em ;
    list-style: none;
}

a{
    text-decoration: none;
    color: gray;
}


/**** LOGIN/ SIGNUP ****/
.content{
    text-align: center;
    border: 2px solid grey;
    border-radius: 2em;
    margin:2em;
    padding:1em;
    width: 40%;
    background-color: rgb(255, 255, 255, 0.2) ;
    z-index :1;
}

.log{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: lato thin;
    color: var(--lila);
}

/* text areas*/
input{
    border:1px solid gray;
    border-radius: 0.2em;
    margin:0.5em 0em 0.5em 0em;
}

::placeholder {
    font-family: lato thin;
    color: gray;
}

input:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--lila);
    border-color: var(--lila);
    border-radius: 0.2em;
}

input:focus::-webkit-input-placeholder { 
    color: var(--lila); 
}

button, .btn{
    border: 1px solid var(--lila);
    background-color: var(--lila);
    color: white;
    border-radius: 0.2em; ;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

button:hover, .btn:hover{
    color: var(--lila);
    border :1px solid var(--lila);
   background-color: white;
}

.noAccount{
    margin-top: 1em;
    font-family: lato thin;
}
.carousel{
    z-index: 2;
}